@import '../../vendor/filament/filament/resources/css/theme.css';

@media print {
    .fi-topbar{
        display: none !important;
    }
    .fi-sidebar{
        display: none !important;
    }
    .fi-reports-action-panel{
        display: none !important;
    }
    .fi-header-heading {
        display: none !important;
    }
    .fi-header-subheading {
        display: none !important;
    }
    #fi-report{
        width: 100%;
        box-shadow: none !important;
        border: none !important; /* Add this line to remove the border */
        border-radius: none !important;
        display: block !important;
    }
    .pad{
        padding: 0px !important;
    }
}


#fi-report .fi-ta-text{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
