@import "tailwindcss";
@import './print-styles.css';

@source './app/Filament/**/*.php';
@source './resources/views/**/*.blade.php';
@source './src/**/*.php';

@variant dark (&:where(.dark, .dark *));

@layer components {
    #fi-report .fi-ta-text {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .fi-reports-action-panel .fi-form-actions {
        margin-top: 1rem;
    }
}
