@media print {
    .fi-topbar {
        display: none !important;
    }
    
    .fi-sidebar {
        display: none !important;
    }
    
    .fi-reports-action-panel {
        display: none !important;
    }
    
    .fi-header-heading {
        display: none !important;
    }
    
    .fi-header-subheading {
        display: none !important;
    }

    body {
        visibility: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: rgb(255 255 255) !important;
    }

    #fi-report {
        width: 100%;
        visibility: visible;
        box-shadow: none !important;
        border: none !important;
        border-radius: 0 !important;
        display: table !important;
        margin: 0 !important;
        padding: 0 !important;
        vertical-align: top;
        background-color: rgb(255 255 255) !important;
    }

    #fi-report tbody {
        width: 100% !important;
        min-width: 100% !important;
    }

    #fi-report tbody tr {
        width: 100%;
    }

    td .pad {
        padding: 0 !important;
    }

    section {
        row-gap: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    main {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .text-white {
        color: rgb(31 41 55) !important;
    }

    @page {
        margin: 0;
        padding: 0;
    }
}